.daysWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.25rem 0;
    text-align: end;
    border-bottom: 1px solid var(--color-text-primary);
    color: var(--color-text-primary);
  }
  
  .dayItem {
    width: 100%;
  }
  
  .dayText {
    width: 100%;
    text-align: end;
    box-sizing: border-box;
    padding-right: 0.5rem;
    /* margin-right: 1rem; */
  }
  