.logo {
    font-family: var(--font-logo);
    font-size: var(--text-xl);
    color: var(--color-text-primary);
}

.catchphrase {
    font-family: var(--font-catchphrase);
    font-size: var(--text-2xl);
    color: var(--color-text-primary);

    padding: 0.5rem 0rem;
}

.explain {
    font-family: var(--font-general);
    font-size: var(--text-base);
    color: var(--color-text-primary);

    padding-bottom: 5rem;
}

.inner {
    display: flex;
    justify-content: center;
}

.github_logo {
    width: 2rem;
}

.button_text {
    margin: auto 1.5rem;
}

.arrow_img {
    display: none;
    width: 3rem;
    align-self: flex-end;
    padding-bottom: 0.5rem;
}

/* 일정 크기 이상일 경우 버튼 속 화살표 숨김 처리 */
@media (min-width: 720px) {
    .arrow_img{
        display: inline;
    }
}