.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
}

.title_div {
  color: var(--color-text-primary);
  text-align: center;

  padding-top: 2rem;
}

.title {
  flex-grow: 1;
  font-family: var(--font-catchphrase);
  font-size: var(--text-3xl);
  padding-bottom: 0.7rem;
}

.sub_title {
  font-family: var(--font-general);
  font-size: var(--text-base);
  padding-bottom: 0.5rem;
}

.type_button_list {
  display: flex;
  align-items: center;
  gap: 1rem;

  padding: 1rem 0;
}

.chat_button_list {
  flex-grow: 1; /* 남은 공간을 모두 채움 */
  overflow-y: auto; /* 스크롤 가능하도록 */
  display: flex;
  flex-direction: column;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
}

.chat_button_list::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
