.projectSection{
    padding: 1rem 2rem;

    container-type: inline-size; 
    container-name: project_section;
    display: flex;
    flex-direction: column;
}

.projectMore{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    
    color: var(--color-text-primary);
    font-size: var(--text-base);
    font-weight: var(--font-weight-semibold);
    font-family: var(--font-general);
}

.no_data {
    width: 100%;
    padding: 3rem;
    text-align: center;
    line-height: 1.5rem;
    color: var(--color-text-sub);
    font-size: var(--text-lg);
}

::-webkit-scrollbar {
    display: none;
}


.projectList{
    display: grid;
	grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding: 1rem;
}

@container project_section (min-width: 600px) {
    .projectList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@container project_section (min-width: 900px) {
    .projectList {
        grid-template-columns: repeat(3, 1fr);
    }
}


.pagination {
    padding-top: 1rem;
    align-self: center;
  }
  