.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 0px;
  width: 100px;

  transition: width 0.3s ease;
}

.sidebar_layout {
  display: flex;
  height: 100vh;
  background: var(--color-background);
  overflow: hidden;
}

.content {
  flex: 1;
  background: var(--color-background);
  overflow-y: auto; 
  min-height: 100vh;
  box-sizing: border-box;
}

.main_content {
  max-width: 1440px;
  margin: 0 auto;
}