.container{
    color: var(--color-text-primary);
}

.prob{
    min-height: 40rem;
}

.prob_title{
    font-weight: var(--font-weight-semibold);
    font-size: var(--text-xl);
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.prob_content{
    line-height: 1.4;  
}

.button_group{
    display: flex;
    justify-content: space-between;
}