.companySection, .projectSection, .algorithmSection{
    padding: 1rem 2rem;
}

.companyMore, .projectMore, .algorithmMore{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    
    color: var(--color-text-primary);
    font-size: var(--text-base);
    font-weight: var(--font-weight-semibold);
    font-family: var(--font-general);
}

.no_data {
    width: 100%;
    padding: 3rem;
    text-align: center;
    line-height: 1.5rem;
    color: var(--color-text-sub);
    font-size: var(--text-lg);
}

.companyList {
    width: 100%;
    margin: 1rem 0.5rem;
    display: flex;
    overflow-y: scroll;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}


.projectList, .algorithmList{
    display: grid;
	grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding: 1rem;
}

@media (min-width: 720px) {
    .projectList, .algorithmList{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1296px) {
    .projectList, .algorithmList{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1440px) {
    .projectList, .algorithmList{
        grid-template-columns: repeat(4, 1fr);
    }
}