:root {
  --color-white: oklch(1 0 0);
  --color-black: oklch(0 0 0);
  --color-whitepure: oklch(100% 0 0);

  /* font-familyts */
  --font-logo: 'Alkatra', cursive;
  --font-catchphrase: 'Libre Baskerville', serif;
  --font-general: 'Roboto', sans-serif;

  /* breakpoint  */
  --breakpoint-sm: 390px;
  --breakpoint-md: 720px;
  --breakpoint-lg: 1296px;
  --breakpoint-xl: 1440px;

  /* text */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;

  /* font-weight */
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  /* radius */
  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-4xl: 2rem;
  --radius-full: 100%;

  /* shadow */
  --color-shadow: 0 0 0;
  --shadow-opacity: 0.1;

  --shadow-2xs: 0 1px rgb(var(--color-shadow) / 0.05);
  --shadow-xs: 0 1px 2px 0 rgb(var(--color-shadow) / 0.05);
  --shadow-sm:
    0 1px 3px 0 rgb(var(--color-shadow) / var(--shadow-opacity)),
    0 1px 2px -1px rgb(var(--color-shadow) / var(--shadow-opacity));
  --shadow-md:
    0 4px 6px -1px rgb(var(--color-shadow) / var(--shadow-opacity)),
    0 2px 4px -2px rgb(var(--color-shadow) / var(--shadow-opacity));
  --shadow-lg:
    0 10px 15px -3px rgb(var(--color-shadow) / var(--shadow-opacity)),
    0 4px 6px -4px rgb(var(--color-shadow) / var(--shadow-opacity));
  --shadow-xl:
    0 20px 25px -5px rgb(var(--color-shadow) / var(--shadow-opacity)),
    0 8px 10px -6px rgb(var(--color-shadow) / var(--shadow-opacity));
  --shadow-2xl: 0 25px 50px -12px rgb(var(--color-shadow) / 0.3);

  /* common semantic tokens */
  --radius-button-sm: var(--radius-sm);
  --radius-button-md: var(--radius-md);
  --radius-button-lg: var(--radius-lg);
  --radius-input: var(--radius-md);
}

  /* 
  ***배경***
  밑색: background
  띠: back-line
  Sidebar/: menu-background
  ***배경-부분***
  코드창: code-main
  실행창: code-terminal
  왼쪽페이지 배경: side-background
  ***글씨***
  기본문구, 캐치프라이즈 : primary
  아이콘, 툴팁 속 문구: inside
  예시문구: example
  경고문구: warning
  음영처리 문자: sub
  사이드바 일반: side-primary
  사이드바 강조: side-on
  ***버튼***
  일반: basic
  언어 미선택: lang-off
  언어 선택: lang-on
  채팅방 선택: chat-on
  ***요소***
  프로젝트 배경: project-back
  채팅글 배경: chat-back
  태그 배경: tag-back
  툴팁 배경: tooltip-back

  */

:root[theme="light"] {
  --color-background: linear-gradient(0deg, oklch(0.96 0.054 91.03), oklch(1 0 0));
  --color-back-line: oklch(0.83 0.1712 81.04 / 0.1);
  --color-menu-background: oklch(0.99 0.0069 88.64);
  --color-code-main: oklch(0.98 0.026 90.09);
  --color-code-terminal: oklch(0.96 0.0468 88.29);
  --color-side-background: oklch(0.83 0.1712 81.04 / 0.1);
  --color-text-primary: oklch(0.29 0 0);
  --color-text-inside: oklch(0 0 0);
  --color-text-example: oklch(0.8 0 0);
  --color-text-warning: oklch(0.63 0.194 29.44);
  --color-text-sub: oklch(0.63 0.0232 72);
  --color-text-side-primary: oklch(0.29 0 0);
  --color-text-side-on: oklch(0.83 0.17177 82.5648);
  --color-button-basic: linear-gradient(90deg, oklch(0.83 0.1542 87.81), oklch(0.76 0.156381 82.8658));
  --color-button-lang-off: oklch(0.83 0.1542 87.81);
  --color-button-lang-on: oklch(0.88 0.1774 93.68);
  --color-button-chat-on: oklch(0.93 0.0896 88.54);
  --color-input-basic: oklch(0.83 0.1542 87.81);
  --color-project-back: oklch(0.94 0.0823 90.81);
  --color-tag-back: oklch(0.83 0.1542 87.81); 
  --color-tooltip-back: oklch(0.99 0 0);
  --color-chat-back: oklch(0.94 0.0823 90.81);
  --color-drawer-bar: oklch(0.87 0 0);
}

:root[theme="dark"] {
  --color-background: linear-gradient(0deg, oklch(0.23 0.031 158.45), oklch(0.17 0 0));
  --color-back-line: oklch(0.89 0 0 / 0.1);
  --color-menu-background: oklch(0.24 0 0);
  --color-code-main: oklch(0.27 0.0068 164.46);
  --color-code-terminal: oklch(0.29 0 0);
  --color-side-background: oklch(0.89 0 0 / 0.1);
  --color-text-primary: oklch(0.95 0.0272 160.88);
  --color-text-inside: oklch(1 0 0);
  --color-text-example: oklch(0.53 0.0265 161.07);
  --color-text-warning: oklch(0.63 0.194 29.44);
  --color-text-sub: oklch(0.7 0.0152 162.29);
  --color-text-side-primary: oklch(0.95 0.0272 160.88);
  --color-text-side-on: oklch(0.84 0.1862 160.41);
  --color-button-basic: linear-gradient(90deg, oklch(0.64 0.1176 158.9), oklch(0.45 0.0984 156.65));
  --color-button-lang-off: oklch(0.64 0.1176 158.9);
  --color-button-lang-on: oklch(0.78 0.1965 153.13);
  --color-button-chat-on: oklch(0.31 0.0111 167.94);
  --color-input-basic: oklch(0.45 0.0984 156.65);
  --color-project-back: oklch(0.3 0.0195 163.33);
  --color-tag-back: oklch(0.64 0.1176 158.9);
  --color-tooltip-back: oklch(0.24 0 0);
  --color-chat-back: oklch(0.3 0.0195 163.33);
  --color-drawer-bar: oklch(0.39 0 0);
}
